name: Gmail-RDP

on:
  workflow_dispatch:
  repository_dispatch:
    types: [chat-app-updated]

jobs:
  setup-rdp-tunnel:
    runs-on: windows-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Install Node.js globally
      run: |
        Invoke-WebRequest -Uri "https://nodejs.org/dist/v20.18.2/node-v20.18.2-x64.msi" -OutFile "nodejs_installer.msi"
        Start-Process -FilePath "msiexec.exe" -ArgumentList "/i", "nodejs_installer.msi", "/quiet", "/norestart" -Wait
        Remove-Item "nodejs_installer.msi"
        node --version
        npm --version

    - name: Clone the repository and install dependencies
      run: |
        git clone https://github.com/Tajbir23/realtime-chat-app-server.git
        cd realtime-chat-app-server
        npm install

    - name: Download and Install Playit
      run: |
        $playitPath = "$env:USERPROFILE\playit.exe"
        Invoke-WebRequest -Uri "https://github.com/playit-cloud/playit-agent/releases/download/v0.15.26/playit-windows-x86_64-signed.exe" -OutFile $playitPath
        Start-Sleep -Seconds 5

    - name: Enable Remote Desktop
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "p@ssw0rd!" -Force)

    - name: Start Playit in a New PowerShell Window
      env:
        PLAYIT_AUTH_KEY: ${{ secrets.PL }}
      run: |
        Start-Process powershell.exe -ArgumentList "-NoExit", "-Command", "$env:USERPROFILE\playit.exe --secret $env:PLAYIT_AUTH_KEY"

    - name: Start Node.js Server in New PowerShell Window
      run: |
        Start-Process powershell.exe -ArgumentList "-NoExit", "-Command", "cd realtime-chat-app-server; npm start"  -NoNewWindow -Wait

    - name: Trigger New Workflow Run in Chat App Repository
      if: always()
      env:
        CHAT_APP_REPO_PAT: ${{ secrets.CHAT_APP_REPO_PAT }}
        REPO_PAT: ${{ secrets.REPO_PAT }}
      run: |
        $payload = '{ "event_type": "chat-app-updated", "client_payload": { "ref": "main" } }'

        Invoke-RestMethod `
          -Method POST `
          -Uri "https://api.github.com/repos/Tajbir23/realtime-chat-app-server/dispatches" `
          -Headers @{
            Authorization = "token $env:CHAT_APP_REPO_PAT"
            Accept = "application/vnd.github.v3+json"
          } `
          -Body $payload
